# ===============================
# PYTHON VIRTUAL ENVIRONMENTS
# ===============================
.venv/
env/
venv/

# ===============================
# PYTHON CACHE FILES
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# ===============================
# ENV FILES (RAHASIA)
# ===============================
.env
*.env

# ===============================
# LOG FILES / DB / TEMP DATA
# ===============================
*.log
*.sqlite3
*.db
*.tmp
*.bak

# ===============================
# VS CODE SETTINGS (Optional)
# ===============================
.vscode/

# ===============================
# MAC / LINUX OS TRASH
# ===============================
.DS_Store
Thumbs.db

# ===============================
# DARA BASE DAN LOGS ACTIVITY
# ===============================
database/
logs/
